body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    margin: 0;
}

a {
    text-decoration: none;
    color: aqua;
}
a:hover {
    color: green;
}
a:active {
    color: pink;
}
/*
a:visited {
    color: tomato;
} */
.container {
    width:80%;
    margin: auto;
}
.clr {
    clear: both;
}

.box-1 {
    background-color: red;
    color: white;

    border: 5px black solid;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-left-width: 3px;

    padding: 20px;

    margin-top: 50px;
}

.box-2 {
    border: 3px dotted blue;
    padding: 10px;
    margin: 50px;

}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px ;
}
.button:hover{
    background: red;
    color: #fff;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;  

}
.categories h2 {
    color: red;
    text-align: center;
  }

.categories ul{
    padding: 0;
    padding-left: 15px;
    list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px purple;
    list-style-image: url('./images/Untitled-1.jpg');
}
.form-group {
    padding-bottom: 15px;

}
.my-form {
    padding-bottom: 200px;
    padding-top: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}
.my-form label {
    display: block;
}
.my-form input[type="text"], textarea {
    padding: 8px;
    width: 100%;
}
.block {
    float: left;
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
#sidebar {
    float: right;
    width: 30%;
    background-color: #ccc;
    padding: 15px;
    box-sizing: border-box;
}
.p-box{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 200px;
    margin-top: 30px;
    background-image: url(./images/softbk.jpg);
}

.p-box h1 {
    position: absolute;
    top: 105px;
    left: 55px;
}

.p-box h2 {
    position: absolute;
    top: 600px;
    left: 400px;
    box-sizing: border-box;
}

.my-list li:first-child {
    background: yellowgreen;
}

.my-list li:last-child {
    background: cadetblue;
}

.my-list li:nth-child(5) {
    background: pink;
}

.my-list li:nth-child(even) {
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}